In [1]:
import pandas as pd

In [2]:
providers_data = pd.read_csv('providers.csv', sep=',')
providers_data

,ProviderId,Name and Credential,ProviderFirstName,ProviderLastName,BACB Account ID,Credential,Type,Status,Hired Date,Background Screening Type,Background Screening Date,Background Screening,Responsible Certificate or Risen Supervisor,Total Hours,Month
0,0,"Eloísa Arandia, BCBA 1-10-7628",Eloísa,Arandia,BACB200630,BCBA 1-10-7628,Risen Supervisor,BCBA,NaN,NaN,NaN,NaN,NaN,NaN,June/2021
1,1,"Cristina Martínez, BCBA 1-20-42775",Cristina,Martínez,BACB403548,BCBA 1-20-42775,Risen Supervisor,BCBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1128037,"Yarelis Lopez Alvarez, BCBA 1-20-45751",Yarelis,Lopez Alvarez,BACB419380,BCBA 1-20-45751,Risen Supervisor,BCBA,NaN,NaN,NaN,NaN,faltaTotal Hrs,NaN,NaN
3,1593879,"Rahimil Vazquez, BCBA 1-20-46745",Rahimil,Vazquez,BACB,BCBA 1-20-46745,Risen Supervisor,BCBA,NaN,NaN,NaN,NaN,falta tracking hrs doc,NaN,NaN
4,1191214,"Nilvia L Rodriguez Zaldivar, BCBA 1-21-48107",Nilvia L,Rodriguez Zaldivar,BACB,BCBA 1-21-48107,Risen Supervisor,BCBA,NaN,NaN,NaN,NaN,falta RBT info,NaN,NaN
5,941697,"Darieika Boizan Calzado, BCaBA 0-19-10617",Darieika,Boizan Calzado,NaN,BCaBA 0-19-10617,Supervisor,BCaBA,NaN,NaN,NaN,NaN,info insuficiente en overlapping,NaN,NaN
6,1465912,"Gabriella Casale, BCBA 1-10-7628",Gabriella,Casale,NaN,BCBA 1-10-7628,Supervisor,BCBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1540249,"Addel Perez Earl, RBT-20-128670",Addel,Perez Earl,BACB528367,RBT-20-128670,RBT,Trainee,12/14/2020,Level I Fingerprints AZ,07/19/2019,07/19/2025,"Eloísa Arandia, BCBA 1-10-7628",102.0,NaN
8,1328150,"Aicha Fatoumata Sylla Martin, RBT-20-118854",Aicha,Fatoumata Sylla Martin,BACB577866,RBT-20-118854,RBT,Trainee,09/21/2020,Level I Fingerprints AZ,04/21/2020,04/21/2026,"Cristina Martínez, BCBA 1-20-42775",168.0,NaN
9,1479822,"Arian Morales Darias, RBT-20-136370",Arian,Morales Darias,NaN,RBT-20-136370,RBT,RBT,10/19/2020,Level I Fingerprints AZ,09/25/2015,09/25/2021,"Cristina Martínez, BCBA 1-20-42775",NaN,NaN
10,1405509,"Arianne Pimentel Silva, RBT-20-128419",Arianne,Pimentel Silva,BACB514359,RBT-20-128419,RBT,Trainee,09/21/2020,Level I Fingerprints AZ,04/21/2020,04/21/2026,"Yarelis López, BCBA 1-20-45751",176.0,NaN
11,1288098,"Beatriz Sosa Villegas, RBT-20-119651",Beatriz,Sosa Villegas,NaN,RBT-20-119651,RBT,RBT,04/06/2020,Level I Fingerprints AZ,04/08/2020,02/06/2024,"Cristina Martínez, BCBA 1-20-42775",208.0,NaN
12,1601150,"Celina Vicente Rojas, RBT-20-134156",Celina,Vicente Rojas,NaN,RBT-20-134156,RBT,RBT,01/11/2021,Level I Fingerprints AZ,NaN,NaN,"Yarelis López, BCBA 1-20-45751",131.0,NaN
13,1528810,"Claudia Hevia Genaro, RBT-20-121880",Claudia,Hevia Genaro,NaN,RBT-20-121880,RBT,RBT,12/03/2020,Level I Fingerprints AZ,05/03/2018,05/03/2024,"Cristina Martínez, BCBA 1-20-42775",123.0,NaN
14,1243847,"Dolores E. Salinas, RBT-18-49316",Dolores E.,Salinas,NaN,RBT-18-49316,RBT,RBT,02/13/2020,Level I Fingerprints AZ,11/04/2019,11/04/2025,"Eloísa Arandia, BCBA 1-10-7628",26.0,NaN
15,1320938,"Evelin Sierra Chirino, RBT-20-119650",Evelin,Sierra Chirino,BACB431243,RBT-20-119650,RBT,Trainee,05/22/2020,Level I Fingerprints AZ,05/22/2020,05/17/2024,"Cristina Martínez, BCBA 1-20-42775",182.0,NaN
16,1627262,"Griselda Patron,",Griselda,Patron,NaN,NaN,RBT,RBT,NaN,NaN,NaN,NaN,NaN,71.0,NaN
17,1457822,"Irvin Nunez, RBT-20-141259",Irvin,Nunez,NaN,RBT-20-141259,RBT,RBT,09/09/2020,Level I Fingerprints AZ,02/06/2015,02/06/2021,"Cristina Martínez, BCBA 1-20-42775",121.0,NaN
18,1666775,"Ivon Martinez Jimenez, RBT-21-154951",Ivon,Martinez Jimenez,NaN,RBT-21-154951,RBT,RBT,04/05/2021,Level I Fingerprints AZ,NaN,NaN,"Nilvia L. Rodríguez, BCBA 1-21-48107",1.0,NaN
19,1272094,"Jorge de Cardenas, RBT-20-116868",Jorge,de Cardenas,BACB565453,RBT-20-116868,RBT,Trainee,03/09/2020,Level I Fingerprints AZ,01/17/2020,01/17/2025,"Eloísa Arandia, BCBA 1-10-7628",109.0,NaN
20,1332570,"Lauren Benitez, RBT-20-121880",Lauren,Benitez,NaN,RBT-20-121880,RBT,RBT,06/15/2020,Level I Fingerprints AZ,03/17/2020,03/16/2026,"Cristina Martínez, BCBA 1-20-42775",158.0,NaN
21,1146899,"Maggy Estenoz Alvarez, RBT-20-117476",Maggy,Estenoz Alvarez,NaN,RBT-20-117476,RBT,Trainee,11/05/2019,Level I Fingerprints AZ,10/03/2019,10/03/2025,"Eloísa Arandia, BCBA 1-10-7628",98.0,NaN
22,1285359,"Margarita Perez Untan, RBT-20-118994",Margarita,Perez Untan,NaN,RBT-20-118994,RBT,RBT,05/18/2020,Level I Fingerprints AZ,05/18/2020,05/18/2021,"Cristina Martínez, BCBA 1-20-42775",56.0,NaN
23,1637071,"Marianela Valdes Basante,",Marianela,Valdes Basante,NaN,NaN,RBT,RBT,NaN,NaN,NaN,NaN,NaN,101.0,NaN
24,1399016,"Rachel Oreilly Alvarez, RBT-20-132988",Rachel,Oreilly Alvarez,NaN,RBT-20-132988,RBT,RBT,NaN,Level I Fingerprints AZ,08/27/2020,08/27/2021,"Cristina Martínez, BCBA 1-20-42775",101.5,NaN
25,1418779,"Taylor A. Bake, RBT-20-133114",Taylor A.,Bake,NaN,RBT-20-133114,RBT,RBT,09/02/2020,Level I Fingerprints AZ,08/28/2020,08/28/2021,"Yarelis López, BCBA 1-20-45751",105.0,NaN
26,1633140,"Yaniet Torre Medina, RBT-20-137057",Yaniet,Torre Medina,NaN,RBT-20-137057,RBT,RBT,03/09/2021,Level I Fingerprints AZ,NaN,NaN,"Nilvia L. Rodríguez, BCBA 1-21-48107",2.0,NaN
27,1521392,"Yanitza Hernandez Fuentes, RBT-20-142021",Yanitza,Hernandez Fuentes,NaN,RBT-20-142021,RBT,RBT,01/08/2021,Level I Fingerprints AZ,NaN,NaN,"Nilvia L. Rodríguez, BCBA 1-21-48107",157.0,NaN
28,1668863,"Yordanka Serrano Naranjo, RBT-20-142944",Yordanka,Serrano Naranjo,NaN,RBT-20-142944,RBT,RBT,04/06/2021,Level I Fingerprints AZ,NaN,NaN,"Cristina Martínez, BCBA 1-20-42775",178.0,NaN
29,1281163,"Yunia Alvarez Calzado, RBT-20-126098",Yunia,Alvarez Calzado,BACB572207,RBT-20-126098,RBT,Trainee,03/23/2020,Level I Fingerprints AZ,03/24/2020,11/25/2022,"Eloísa Arandia, BCBA 1-10-7628",251.0,NaN

In [3]:
supervisors = providers_data[providers_data['Type'] == 'Supervisor']
risen_supervisors = providers_data[providers_data['Type'] == 'Risen Supervisor']
trainees = providers_data[providers_data['Status'] == 'Trainee']
RBTs = providers_data[providers_data['Status'] == 'RBT']
RBTs

,ProviderId,Name and Credential,ProviderFirstName,ProviderLastName,BACB Account ID,Credential,Type,Status,Hired Date,Background Screening Type,Background Screening Date,Background Screening,Responsible Certificate or Risen Supervisor,Total Hours,Month
9,1479822,"Arian Morales Darias, RBT-20-136370",Arian,Morales Darias,NaN,RBT-20-136370,RBT,RBT,10/19/2020,Level I Fingerprints AZ,09/25/2015,09/25/2021,"Cristina Martínez, BCBA 1-20-42775",NaN,NaN
11,1288098,"Beatriz Sosa Villegas, RBT-20-119651",Beatriz,Sosa Villegas,NaN,RBT-20-119651,RBT,RBT,04/06/2020,Level I Fingerprints AZ,04/08/2020,02/06/2024,"Cristina Martínez, BCBA 1-20-42775",208.0,NaN
12,1601150,"Celina Vicente Rojas, RBT-20-134156",Celina,Vicente Rojas,NaN,RBT-20-134156,RBT,RBT,01/11/2021,Level I Fingerprints AZ,NaN,NaN,"Yarelis López, BCBA 1-20-45751",131.0,NaN
13,1528810,"Claudia Hevia Genaro, RBT-20-121880",Claudia,Hevia Genaro,NaN,RBT-20-121880,RBT,RBT,12/03/2020,Level I Fingerprints AZ,05/03/2018,05/03/2024,"Cristina Martínez, BCBA 1-20-42775",123.0,NaN
14,1243847,"Dolores E. Salinas, RBT-18-49316",Dolores E.,Salinas,NaN,RBT-18-49316,RBT,RBT,02/13/2020,Level I Fingerprints AZ,11/04/2019,11/04/2025,"Eloísa Arandia, BCBA 1-10-7628",26.0,NaN
16,1627262,"Griselda Patron,",Griselda,Patron,NaN,NaN,RBT,RBT,NaN,NaN,NaN,NaN,NaN,71.0,NaN
17,1457822,"Irvin Nunez, RBT-20-141259",Irvin,Nunez,NaN,RBT-20-141259,RBT,RBT,09/09/2020,Level I Fingerprints AZ,02/06/2015,02/06/2021,"Cristina Martínez, BCBA 1-20-42775",121.0,NaN
18,1666775,"Ivon Martinez Jimenez, RBT-21-154951",Ivon,Martinez Jimenez,NaN,RBT-21-154951,RBT,RBT,04/05/2021,Level I Fingerprints AZ,NaN,NaN,"Nilvia L. Rodríguez, BCBA 1-21-48107",1.0,NaN
20,1332570,"Lauren Benitez, RBT-20-121880",Lauren,Benitez,NaN,RBT-20-121880,RBT,RBT,06/15/2020,Level I Fingerprints AZ,03/17/2020,03/16/2026,"Cristina Martínez, BCBA 1-20-42775",158.0,NaN
22,1285359,"Margarita Perez Untan, RBT-20-118994",Margarita,Perez Untan,NaN,RBT-20-118994,RBT,RBT,05/18/2020,Level I Fingerprints AZ,05/18/2020,05/18/2021,"Cristina Martínez, BCBA 1-20-42775",56.0,NaN
23,1637071,"Marianela Valdes Basante,",Marianela,Valdes Basante,NaN,NaN,RBT,RBT,NaN,NaN,NaN,NaN,NaN,101.0,NaN
24,1399016,"Rachel Oreilly Alvarez, RBT-20-132988",Rachel,Oreilly Alvarez,NaN,RBT-20-132988,RBT,RBT,NaN,Level I Fingerprints AZ,08/27/2020,08/27/2021,"Cristina Martínez, BCBA 1-20-42775",101.5,NaN
25,1418779,"Taylor A. Bake, RBT-20-133114",Taylor A.,Bake,NaN,RBT-20-133114,RBT,RBT,09/02/2020,Level I Fingerprints AZ,08/28/2020,08/28/2021,"Yarelis López, BCBA 1-20-45751",105.0,NaN
26,1633140,"Yaniet Torre Medina, RBT-20-137057",Yaniet,Torre Medina,NaN,RBT-20-137057,RBT,RBT,03/09/2021,Level I Fingerprints AZ,NaN,NaN,"Nilvia L. Rodríguez, BCBA 1-21-48107",2.0,NaN
27,1521392,"Yanitza Hernandez Fuentes, RBT-20-142021",Yanitza,Hernandez Fuentes,NaN,RBT-20-142021,RBT,RBT,01/08/2021,Level I Fingerprints AZ,NaN,NaN,"Nilvia L. Rodríguez, BCBA 1-21-48107",157.0,NaN
28,1668863,"Yordanka Serrano Naranjo, RBT-20-142944",Yordanka,Serrano Naranjo,NaN,RBT-20-142944,RBT,RBT,04/06/2021,Level I Fingerprints AZ,NaN,NaN,"Cristina Martínez, BCBA 1-20-42775",178.0,NaN

In [4]:
df = pd.read_csv('data.csv')

In [5]:
# TODO tambien deberías permitirme descartar los Client/Provider que no me interesen tener en cuenta para el análisis
labels = ['ProviderId', 'DateOfService', 'TimeWorkedFrom', 'TimeWorkedTo', 'TimeWorkedInHours', 'ClientFirstName', 'ProviderFirstName', 'ProcedureCode' ]

In [6]:
data = df.drop(df.columns.difference(labels), 1)
data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/1/2021 0:00,6/1/2021 7:55,6/1/2021 13:32,5.62,AB,Irvin,1457822,97153
1,6/1/2021 0:00,6/1/2021 12:00,6/1/2021 13:00,1.00,MI,Yarelis,1128037,97156
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.00,MI,Yarelis,1128037,97155
3,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.00,OV,Yunia,1281163,Documentation
4,6/1/2021 0:00,6/1/2021 8:00,6/1/2021 10:00,2.00,Patient,Gabriella,1465912,Trainings/Meetings/Cancelation
...,...,...,...,...,...,...,...,...
562,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1.00,JH,Rahimil,1593879,Documentation
563,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.00,JR,Rahimil,1593879,97155: Non- Billable
564,6/30/2021 0:00,6/30/2021 18:00,6/30/2021 20:00,2.00,JR,Rahimil,1593879,97156: Non-Billable
565,6/29/2021 0:00,6/29/2021 15:00,6/29/2021 16:00,1.00,BQ,Arianne,1405509,97156
566,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 20:00,4.00,JR,Griselda,1627262,97153

In [7]:
# TODO por si acaso, deberias dejarme escoger que codigos vamos a utilizar para hacer los reportes de los q aparezcan en el csv
valid = ['97153', '97155', '97153: Non-Billable', '97155: Non-Billable', 'Documentation', 'Remote Individual Supervision']
valid = [i.replace(' ','').lower() for i in valid]
valid

['97153',
 '97155',
 '97153:non-billable',
 '97155:non-billable',
 'documentation',
 'remoteindividualsupervision']

In [8]:
filter = [i.replace(' ', '').lower() in valid for i in data.ProcedureCode]
data['Filter1'] = filter
data = data[data.Filter1]
data = data.drop('Filter1', 1)
data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/1/2021 0:00,6/1/2021 7:55,6/1/2021 13:32,5.62,AB,Irvin,1457822,97153
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.00,MI,Yarelis,1128037,97155
3,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.00,OV,Yunia,1281163,Documentation
5,6/1/2021 0:00,6/1/2021 10:00,6/1/2021 12:00,2.00,JS,Gabriella,1465912,Documentation
6,6/1/2021 0:00,6/1/2021 14:30,6/1/2021 16:30,2.00,RS,Gabriella,1465912,Documentation
...,...,...,...,...,...,...,...,...
558,6/29/2021 0:00,6/29/2021 14:00,6/29/2021 15:00,1.00,BQ,Rahimil,1593879,97155: Non- Billable
560,6/29/2021 0:00,6/29/2021 16:00,6/29/2021 17:00,1.00,JH,Rahimil,1593879,97155: Non- Billable
562,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1.00,JH,Rahimil,1593879,Documentation
563,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.00,JR,Rahimil,1593879,97155: Non- Billable
566,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 20:00,4.00,JR,Griselda,1627262,97153

In [9]:
providers = data['ProviderId']
providers = set(providers)

In [10]:
#depurar esto
supervisors_codes = ['97155', '97155:non-billeable', 'remoteindividualsupervision']
filter_supervisors =[i.replace(' ', '').lower() in supervisors_codes for i in data.ProcedureCode]
supervisors_data = data[filter_supervisors]
supervisors_data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.0,MI,Yarelis,1128037,97155
8,6/1/2021 0:00,6/1/2021 16:30,6/1/2021 18:30,2.0,OV,Yarelis,1128037,97155
9,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.0,OV,Yarelis,1128037,Remote Individual Supervision
10,6/1/2021 0:00,6/1/2021 19:30,6/1/2021 20:30,1.0,EV,Yarelis,1128037,Remote Individual Supervision
33,6/3/2021 0:00,6/3/2021 9:30,6/3/2021 11:30,2.0,AB,Rahimil,1593879,97155
...,...,...,...,...,...,...,...,...
549,6/30/2021 0:00,6/30/2021 13:15,6/30/2021 15:15,2.0,JS,Nilvia L,1191214,97155
551,6/30/2021 0:00,6/30/2021 20:00,6/30/2021 21:00,1.0,JS,Nilvia L,1191214,Remote Individual Supervision
553,6/30/2021 0:00,6/30/2021 20:00,6/30/2021 21:00,1.0,JS,Lauren,1332570,Remote Individual Supervision
554,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.0,JR,Addel,1540249,97155
557,6/29/2021 0:00,6/29/2021 14:00,6/29/2021 15:00,1.0,BQ,Arianne,1405509,97155

In [11]:
import numpy as np
errors = []
notifications = []
depured_data = []
doc_depured = []
rbt53_depured = []
providersErrors = []

cols = supervisors_data.columns

providerId = list(cols).index('ProviderId')
providerName = list(cols).index('ProviderFirstName')
procedureCode = list(cols).index('ProcedureCode')
timeFrom = list(cols).index('TimeWorkedFrom')
timeTo = list(cols).index('TimeWorkedTo')
client = list(cols).index('ClientFirstName')

supervisors_data = np.array(supervisors_data)

for k in range(len(supervisors_data)):
    i = supervisors_data[k]
    if i[procedureCode].replace(' ', '').lower() == 'remoteindividualsupervision':
        if i[providerId] in list(trainees['ProviderId']):
            notifications.append(i)
            i[procedureCode] = 'Documentation'
            doc_depured.append(i)
            continue
        elif i[providerId] in list(RBTs['ProviderId']):
            notifications.append(i)
            i[procedureCode] = 'Documentation'
            rbt53_depured.append(i)
            continue
    if i[procedureCode].replace(' ', '').lower() == '97155':
        if i[providerId] in list(RBTs['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    if i[procedureCode].replace(' ', '').lower() == '97155:non-billeable':
        if i[providerId] in list(trainees['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
        elif i[providerId] in list(RBTs['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    depured_data.append(i)

In [12]:

import numpy as np
from datetime import datetime

def verify_valid_overlapping(entry, i):
    if entry[providerName] == 'Maggy' and i[providerName] == 'Rahimil':
        print(i)
        print(entry)
    procedure = entry[procedureCode]
    if entry[providerId] == i[providerId]:
        return False
    if procedure.lower().replace(' ', '') in ['97153', '97153:non-billable'] and i[procedureCode] in ['97155', '97155:non-billable']:
        return True
    if procedure.lower().replace(' ', '') in ['documentation'] and i[procedureCode] in ['remoteindividualsupervision']:
        return True
    return False

def calculate_overlapping(entry):
    overlapping = []
    
    entry_start = datetime.strptime(entry[timeFrom], '%m/%d/%Y %H:%M')
    entry_end = datetime.strptime(entry[timeTo], '%m/%d/%Y %H:%M')
    procedure = entry[procedureCode]
    
    for i in depured_data:
        if  verify_valid_overlapping(entry,i):
            start = datetime.strptime(i[timeFrom], '%m/%d/%Y %H:%M')
            end = datetime.strptime(i[timeTo], '%m/%d/%Y %H:%M')
            if not i[client] == entry[client]:
                continue
            else:
#                 print(i,entry)
                pass
            if (entry_start >= start and entry_start <= end) or (entry_end >= start and entry_end <= end) or (start >= entry_start and end <= entry_end):
                time = min(entry_end,end)-max(entry_start, start)
                overlapping.append((entry,i, time))
    return overlapping

In [13]:
code53 = np.array(data[[i.lower().replace(' ', '') == '97153' for i in data['ProcedureCode']]])
code_doc = np.array(data[[i.lower().replace(' ', '') == 'documentation' for i in data['ProcedureCode']]])

In [14]:

for i in code_doc:
    if i[procedureCode].replace(' ', '').lower() == 'documentation':
        
        if i[providerId] in list(supervisors['ProviderId']):
            notifications.append(i)
            i[providerId] = 'Remote Individual Supervision'
            depured_data.append(i)
            continue
        
        elif i[providerId] in list(risen_supervisors['ProviderId']):
            notifications.append(i)
            i[procedureCode] = 'Remote Individual Supervision'
            depured_data.append(i)
            continue
    
    doc_depured.append(i)

for i in code53:
    if i[procedureCode].replace(' ', '').lower() == 'documentation':
    
        if i[providerId] in list(supervisors['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    
        elif i[providerId] in list(risen_supervisors['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    
    rbt53_depured.append(i)
    
if len(doc_depured) > 0:
    doc_depured = np.stack(doc_depured, axis=0)
if len(rbt53_depured) > 0:
    rbt53_depured = np.stack(rbt53_depured, axis=0) 
if len(depured_data) > 0:    
    depured_data = np.stack(depured_data, axis=0)
if len(errors) > 0:
    errors = np.stack(errors, axis=0)

In [15]:
overlappings = {}
providers_data_with_errors = {}

for i in doc_depured:
    
    new_ol = calculate_overlapping(i)
    
    if i[providerId] in providersErrors:
        if not i[providerId] in providers_data_with_errors:
            overlappings[i[providerId]] = []
            
        providers_data_with_errors[i[providerId]].append(new_ol) 
        continue
    
    if not i[providerId] in overlappings:
        overlappings[i[providerId]] = []
    
    if len(new_ol) != 0:
        overlappings[i[providerId]].append(new_ol) 

for i in rbt53_depured:
    new_ol = calculate_overlapping(i)
    
    if i[providerId] in providersErrors:
        if not i[providerId] in providers_data_with_errors:
            overlappings[i[providerId]] = []
            
        providers_data_with_errors[i[providerId]].append(new_ol) 
        continue
    
    if not i[providerId] in overlappings:
        overlappings[i[providerId]] = []
    
    if len(new_ol) != 0:
        overlappings[i[providerId]].append(new_ol) 
# overlappings

['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/14/2021 0:00' '6/14/2021 20:00' '6/14/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/21/2021 0:00' '6/21/2021 20:00' '6/21/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/28/2021 0:00' '6/28/2021 20:00' '6/28/2021 21:00' 1.0 'SM' 'Maggy'
 1146899 'Documentation']
['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/3/2021 0:00' '6/3/2021 9:30' '6/3/2021 11:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/4/2021 0:00' '6/4/2021 13:00' '6/4/2021 14:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/10/2021 0:00' '6/10/2021 8:30' '6/10/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/11/2021 0:00' '6/11/2021 12:10' '6/11/2021 13:10' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 9:00' '6/17/2021 10:00' 1.0 'AB' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/17/2021 0:00' '6/17/2021 17:30' '6/17/2021 18:30' 1.0 'AR' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 14:15' '6/18/2021 15:15' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/24/2021 0:00' '6/24/2021 8:30' '6/24/2021 10:30' 2.0 'AB' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 12:00' '6/25/2021 13:00' 1.0 'RS' 'Rahimil'
 1593879 '97155']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/8/2021 0:00' '6/8/2021 19:00' '6/8/2021 20:00' 1.0 'BQ' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/9/2021 0:00' '6/9/2021 19:00' '6/9/2021 20:00' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 16:30' '6/18/2021 17:30' 1.0 'JH' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/18/2021 0:00' '6/18/2021 18:00' '6/18/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 18:00' '6/25/2021 19:00' 1.0 'RS' 'Rahimil'
 1593879 'Remote Individual Supervision']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/29/2021 0:00' '6/29/2021 18:00' '6/29/2021 19:00' 1.0 'JH' 'Rahimil'

In [16]:
overlappings

{1146899: [[(array(['6/18/2021 0:00', '6/18/2021 8:30', '6/18/2021 14:30', 6.0, 'SM',
           'Maggy', 1146899, '97153'], dtype=object),
    array(['6/18/2021 0:00', '6/18/2021 9:00', '6/18/2021 11:00', 2.0, 'SM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/25/2021 0:00', '6/25/2021 8:30', '6/25/2021 14:30', 6.0, 'SM',
           'Maggy', 1146899, '97153'], dtype=object),
    array(['6/25/2021 0:00', '6/25/2021 9:00', '6/25/2021 11:00', 2.0, 'SM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1405509: [[(array(['6/7/2021 0:00', '6/7/2021 9:30', '6/7/2021 15:30', 6.0, 'OC',
           'Arianne', 1405509, '97153'], dtype=object),
    array(['6/7/2021 0:00', '6/7/2021 10:00', '6/7/2021 12:00', 2.0, 'OC',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/14/2021 0:00', '6/14/2021 9:30', '6/14/2021 15:30', 6.0, 'OC',
           'Arianne', 1405509, '97153'], dtype=object),
    array(['6/14/2021 0:00', '6/14/2021 10:00', '6/14/2021 12:00', 2.0, 'OC',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/21/2021 0:00', '6/21/2021 9:30', '6/21/2021 15:30', 6.0, 'OC',
           'Arianne', 1405509, '97153'], dtype=object),
    array(['6/21/2021 0:00', '6/21/2021 10:00', '6/21/2021 12:00', 2.0, 'OC',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/28/2021 0:00', '6/28/2021 9:30', '6/28/2021 15:30', 6.0, 'OC',
           'Arianne', 1405509, '97153'], dtype=object),
    array(['6/28/2021 0:00', '6/28/2021 10:00', '6/28/2021 12:00', 2.0, 'OC',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1328150: [[(array(['6/2/2021 0:00', '6/2/2021 9:30', '6/2/2021 13:30', 4.0, 'EM',
           'Aicha', 1328150, '97153'], dtype=object),
    array(['6/2/2021 0:00', '6/2/2021 9:30', '6/2/2021 11:30', 2.0, 'EM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/9/2021 0:00', '6/9/2021 13:00', '6/9/2021 16:00', 3.0, 'EM',
           'Aicha', 1328150, '97153'], dtype=object),
    array(['6/9/2021 0:00', '6/9/2021 13:30', '6/9/2021 15:30', 2.0, 'EM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/16/2021 0:00', '6/16/2021 9:30', '6/16/2021 13:30', 4.0, 'EM',
           'Aicha', 1328150, '97153'], dtype=object),
    array(['6/16/2021 0:00', '6/16/2021 9:30', '6/16/2021 11:30', 2.0, 'EM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/23/2021 0:00', '6/23/2021 8:30', '6/23/2021 12:30', 4.0, 'EM',
           'Aicha', 1328150, '97153'], dtype=object),
    array(['6/23/2021 0:00', '6/23/2021 9:30', '6/23/2021 11:30', 2.0, 'EM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/30/2021 0:00', '6/30/2021 9:30', '6/30/2021 13:30', 4.0, 'EM',
           'Aicha', 1328150, '97153'], dtype=object),
    array(['6/30/2021 0:00', '6/30/2021 9:30', '6/30/2021 11:30', 2.0, 'EM',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1281163: [[(array(['6/1/2021 0:00', '6/1/2021 16:00', '6/1/2021 20:30', 4.5, 'OV',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/1/2021 0:00', '6/1/2021 16:30', '6/1/2021 18:30', 2.0, 'OV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/9/2021 0:00', '6/9/2021 8:00', '6/9/2021 13:00', 5.0, 'AP',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/9/2021 0:00', '6/9/2021 9:00', '6/9/2021 11:00', 2.0, 'AP',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/7/2021 0:00', '6/7/2021 15:00', '6/7/2021 20:00', 5.0, 'OV',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/7/2021 0:00', '6/7/2021 16:00', '6/7/2021 18:00', 2.0, 'OV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/15/2021 0:00', '6/15/2021 15:00', '6/15/2021 20:00', 5.0, 'OV',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/15/2021 0:00', '6/15/2021 16:30', '6/15/2021 18:30', 2.0, 'OV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/17/2021 0:00', '6/17/2021 8:00', '6/17/2021 13:00', 5.0, 'AP',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/17/2021 0:00', '6/17/2021 9:00', '6/17/2021 11:00', 2.0, 'AP',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/22/2021 0:00', '6/22/2021 15:00', '6/22/2021 20:00', 5.0, 'OV',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/22/2021 0:00', '6/22/2021 16:30', '6/22/2021 18:30', 2.0, 'OV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/24/2021 0:00', '6/24/2021 8:00', '6/24/2021 13:00', 5.0, 'AP',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/24/2021 0:00', '6/24/2021 9:00', '6/24/2021 11:00', 2.0, 'AP',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/29/2021 0:00', '6/29/2021 15:00', '6/29/2021 20:00', 5.0, 'OV',
           'Yunia', 1281163, '97153'], dtype=object),
    array(['6/29/2021 0:00', '6/29/2021 16:30', '6/29/2021 18:30', 2.0, 'OV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1540249: [[(array(['6/4/2021 0:00', '6/4/2021 15:30', '6/4/2021 20:30', 5.0, 'GD',
           'Addel', 1540249, '97153'], dtype=object),
    array(['6/4/2021 0:00', '6/4/2021 15:30', '6/4/2021 17:30', 2.0, 'GD',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/11/2021 0:00', '6/11/2021 15:30', '6/11/2021 20:30', 5.0, 'GD',
           'Addel', 1540249, '97153'], dtype=object),
    array(['6/11/2021 0:00', '6/11/2021 15:30', '6/11/2021 17:30', 2.0, 'GD',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/18/2021 0:00', '6/18/2021 15:30', '6/18/2021 20:30', 5.0, 'GD',
           'Addel', 1540249, '97153'], dtype=object),
    array(['6/18/2021 0:00', '6/18/2021 15:30', '6/18/2021 17:30', 2.0, 'GD',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/25/2021 0:00', '6/25/2021 15:30', '6/25/2021 20:30', 5.0, 'GD',
           'Addel', 1540249, '97153'], dtype=object),
    array(['6/25/2021 0:00', '6/25/2021 16:30', '6/25/2021 18:30', 2.0, 'GD',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1668863: [[(array(['6/2/2021 0:00', '6/2/2021 9:30', '6/2/2021 12:30', 3.0, 'ER',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/2/2021 0:00', '6/2/2021 9:30', '6/2/2021 11:30', 2.0, 'ER',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/10/2021 0:00', '6/10/2021 8:30', '6/10/2021 12:30', 4.0, 'ER',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/10/2021 0:00', '6/10/2021 9:30', '6/10/2021 11:30', 2.0, 'ER',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/10/2021 0:00', '6/10/2021 13:00', '6/10/2021 17:00', 4.0, 'ASA',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/10/2021 0:00', '6/10/2021 13:00', '6/10/2021 15:00', 2.0, 'ASA',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/14/2021 0:00', '6/14/2021 8:30', '6/14/2021 12:30', 4.0, 'ER',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/14/2021 0:00', '6/14/2021 9:00', '6/14/2021 11:00', 2.0, 'ER',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/17/2021 0:00', '6/17/2021 13:00', '6/17/2021 17:00', 4.0, 'ASA',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/17/2021 0:00', '6/17/2021 13:30', '6/17/2021 15:30', 2.0, 'ASA',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/21/2021 0:00', '6/21/2021 8:30', '6/21/2021 12:30', 4.0, 'ER',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/21/2021 0:00', '6/21/2021 9:00', '6/21/2021 11:00', 2.0, 'ER',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/21/2021 0:00', '6/21/2021 13:00', '6/21/2021 17:00', 4.0, 'ASA',
           'Yordanka', 1668863, '97153'], dtype=object),
    array(['6/21/2021 0:00', '6/21/2021 14:30', '6/21/2021 16:30', 2.0, 'ASA',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1457822: [[(array(['6/3/2021 0:00', '6/3/2021 8:00', '6/3/2021 13:30', 5.5, 'AB',
           'Irvin', 1457822, '97153'], dtype=object),
    array(['6/3/2021 0:00', '6/3/2021 9:30', '6/3/2021 11:30', 2.0, 'AB',
           'Rahimil', 1593879, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/10/2021 0:00', '6/10/2021 8:00', '6/10/2021 12:30', 4.5, 'AB',
           'Irvin', 1457822, '97153'], dtype=object),
    array(['6/10/2021 0:00', '6/10/2021 8:30', '6/10/2021 10:30', 2.0, 'AB',
           'Rahimil', 1593879, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/12/2021 0:00', '6/12/2021 12:55', '6/12/2021 17:10', 4.25, 'AR',
           'Irvin', 1457822, '97153'], dtype=object),
    array(['6/12/2021 0:00', '6/12/2021 13:00', '6/12/2021 15:00', 2.0, 'AR',
           'Maggy', 1146899, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/17/2021 0:00', '6/17/2021 7:55', '6/17/2021 12:30', 4.58, 'AB',
           'Irvin', 1457822, '97153'], dtype=object),
    array(['6/17/2021 0:00', '6/17/2021 9:00', '6/17/2021 10:00', 1.0, 'AB',
           'Rahimil', 1593879, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/24/2021 0:00', '6/24/2021 7:25', '6/24/2021 12:33', 5.13, 'AB',
           'Irvin', 1457822, '97153'], dtype=object),
    array(['6/24/2021 0:00', '6/24/2021 8:30', '6/24/2021 10:30', 2.0, 'AB',
           'Rahimil', 1593879, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1399016: [[(array(['6/1/2021 0:00', '6/1/2021 12:30', '6/1/2021 16:00', 3.5, 'MI',
           'Rachel', 1399016, '97153'], dtype=object),
    array(['6/1/2021 0:00', '6/1/2021 13:00', '6/1/2021 15:00', 2.0, 'MI',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/8/2021 0:00', '6/8/2021 12:00', '6/8/2021 17:00', 5.0, 'MI',
           'Rachel', 1399016, '97153'], dtype=object),
    array(['6/8/2021 0:00', '6/8/2021 12:00', '6/8/2021 14:00', 2.0, 'MI',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/15/2021 0:00', '6/15/2021 12:00', '6/15/2021 15:30', 3.5, 'MI',
           'Rachel', 1399016, '97153'], dtype=object),
    array(['6/15/2021 0:00', '6/15/2021 13:00', '6/15/2021 15:00', 2.0, 'MI',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/22/2021 0:00', '6/22/2021 12:30', '6/22/2021 15:30', 3.0, 'MI',
           'Rachel', 1399016, '97153'], dtype=object),
    array(['6/22/2021 0:00', '6/22/2021 13:00', '6/22/2021 15:00', 2.0, 'MI',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/29/2021 0:00', '6/29/2021 12:30', '6/29/2021 15:30', 3.0, 'MI',
           'Rachel', 1399016, '97153'], dtype=object),
    array(['6/29/2021 0:00', '6/29/2021 13:00', '6/29/2021 15:00', 2.0, 'MI',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1601150: [[(array(['6/3/2021 0:00', '6/3/2021 9:00', '6/3/2021 13:00', 4.0, 'EV',
           'Celina', 1601150, '97153'], dtype=object),
    array(['6/3/2021 0:00', '6/3/2021 11:15', '6/3/2021 13:15', 2.0, 'EV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=6300))],
  [(array(['6/11/2021 0:00', '6/11/2021 9:00', '6/11/2021 11:00', 2.0, 'EV',
           'Celina', 1601150, '97153'], dtype=object),
    array(['6/11/2021 0:00', '6/11/2021 9:00', '6/11/2021 11:00', 2.0, 'EV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/17/2021 0:00', '6/17/2021 9:00', '6/17/2021 13:00', 4.0, 'EV',
           'Celina', 1601150, '97153'], dtype=object),
    array(['6/17/2021 0:00', '6/17/2021 11:15', '6/17/2021 13:15', 2.0, 'EV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=6300))],
  [(array(['6/23/2021 0:00', '6/23/2021 13:00', '6/23/2021 19:00', 6.0, 'EV',
           'Celina', 1601150, '97153'], dtype=object),
    array(['6/23/2021 0:00', '6/23/2021 14:00', '6/23/2021 16:00', 2.0, 'EV',
           'Yarelis', 1128037, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1521392: [[(array(['6/1/2021 0:00', '6/1/2021 11:00', '6/1/2021 17:00', 6.0, 'AS',
           'Yanitza', 1521392, '97153'], dtype=object),
    array(['6/1/2021 0:00', '6/1/2021 12:00', '6/1/2021 14:00', 2.0, 'AS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/8/2021 0:00', '6/8/2021 10:00', '6/8/2021 16:00', 6.0, 'AS',
           'Yanitza', 1521392, '97153'], dtype=object),
    array(['6/8/2021 0:00', '6/8/2021 12:30', '6/8/2021 14:30', 2.0, 'AS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/15/2021 0:00', '6/15/2021 10:00', '6/15/2021 16:00', 6.0, 'AS',
           'Yanitza', 1521392, '97153'], dtype=object),
    array(['6/15/2021 0:00', '6/15/2021 12:30', '6/15/2021 14:30', 2.0, 'AS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/24/2021 0:00', '6/24/2021 13:00', '6/24/2021 19:00', 6.0, 'AS',
           'Yanitza', 1521392, '97153'], dtype=object),
    array(['6/24/2021 0:00', '6/24/2021 15:00', '6/24/2021 17:00', 2.0, 'AS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/29/2021 0:00', '6/29/2021 10:00', '6/29/2021 16:00', 6.0, 'AS',
           'Yanitza', 1521392, '97153'], dtype=object),
    array(['6/29/2021 0:00', '6/29/2021 13:00', '6/29/2021 15:00', 2.0, 'AS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1633140: [[(array(['6/1/2021 0:00', '6/1/2021 12:30', '6/1/2021 16:30', 4.0, 'BQ',
           'Yaniet', 1633140, '97153'], dtype=object),
    array(['6/1/2021 0:00', '6/1/2021 14:00', '6/1/2021 15:00', 1.0, 'BQ',
           'Arianne', 1405509, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/8/2021 0:00', '6/8/2021 14:30', '6/8/2021 18:30', 4.0, 'BQ',
           'Yaniet', 1633140, '97153'], dtype=object),
    array(['6/8/2021 0:00', '6/8/2021 14:00', '6/8/2021 15:00', 1.0, 'BQ',
           'Arianne', 1405509, '97155'], dtype=object),
    datetime.timedelta(seconds=1800))],
  [(array(['6/15/2021 0:00', '6/15/2021 12:30', '6/15/2021 16:30', 4.0, 'BQ',
           'Yaniet', 1633140, '97153'], dtype=object),
    array(['6/15/2021 0:00', '6/15/2021 14:00', '6/15/2021 15:00', 1.0, 'BQ',
           'Arianne', 1405509, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/22/2021 0:00', '6/22/2021 17:00', '6/22/2021 20:30', 3.5, 'CA',
           'Yaniet', 1633140, '97153'], dtype=object),
    array(['6/22/2021 0:00', '6/22/2021 17:00', '6/22/2021 19:00', 2.0, 'CA',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))],
  [(array(['6/23/2021 0:00', '6/23/2021 12:30', '6/23/2021 16:30', 4.0, 'BQ',
           'Yaniet', 1633140, '97153'], dtype=object),
    array(['6/23/2021 0:00', '6/23/2021 14:00', '6/23/2021 15:00', 1.0, 'BQ',
           'Arianne', 1405509, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/29/2021 0:00', '6/29/2021 12:30', '6/29/2021 16:30', 4.0, 'BQ',
           'Yaniet', 1633140, '97153'], dtype=object),
    array(['6/29/2021 0:00', '6/29/2021 14:00', '6/29/2021 15:00', 1.0, 'BQ',
           'Arianne', 1405509, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))]],
 1332570: [[(array(['6/2/2021 0:00', '6/2/2021 11:30', '6/2/2021 16:00', 4.5, 'JS',
           'Lauren', 1332570, '97153'], dtype=object),
    array(['6/2/2021 0:00', '6/2/2021 13:00', '6/2/2021 14:30', 1.5, 'JS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=5400))],
  [(array(['6/9/2021 0:00', '6/9/2021 11:30', '6/9/2021 16:00', 4.5, 'JS',
           'Lauren', 1332570, '97153'], dtype=object),
    array(['6/9/2021 0:00', '6/9/2021 13:30', '6/9/2021 15:00', 1.5, 'JS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=5400))],
  [(array(['6/16/2021 0:00', '6/16/2021 11:30', '6/16/2021 16:00', 4.5, 'JS',
           'Lauren', 1332570, '97153'], dtype=object),
    array(['6/16/2021 0:00', '6/16/2021 13:00', '6/16/2021 14:30', 1.5, 'JS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=5400))],
  [(array(['6/23/2021 0:00', '6/23/2021 8:30', '6/23/2021 11:00', 2.5, 'JS',
           'Lauren', 1332570, '97153'], dtype=object),
    array(['6/23/2021 0:00', '6/23/2021 8:30', '6/23/2021 10:00', 1.5, 'JS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=5400))],
  [(array(['6/30/2021 0:00', '6/30/2021 11:30', '6/30/2021 16:00', 4.5, 'JS',
           'Lauren', 1332570, '97153'], dtype=object),
    array(['6/30/2021 0:00', '6/30/2021 13:15', '6/30/2021 15:15', 2.0, 'JS',
           'Nilvia L', 1191214, '97155'], dtype=object),
    datetime.timedelta(seconds=7200))]],
 1272094: [[(array(['6/1/2021 0:00', '6/1/2021 14:00', '6/1/2021 17:00', 3.0, 'JH',
           'Jorge', 1272094, '97153'], dtype=object),
    array(['6/1/2021 0:00', '6/1/2021 16:00', '6/1/2021 17:00', 1.0, 'JH',
           'Maggy', 1146899, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/8/2021 0:00', '6/8/2021 14:00', '6/8/2021 19:00', 5.0, 'JH',
           'Jorge', 1272094, '97153'], dtype=object),
    array(['6/8/2021 0:00', '6/8/2021 16:00', '6/8/2021 17:00', 1.0, 'JH',
           'Maggy', 1146899, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/17/2021 0:00', '6/17/2021 14:00', '6/17/2021 19:00', 5.0, 'JH',
           'Jorge', 1272094, '97153'], dtype=object),
    array(['6/17/2021 0:00', '6/17/2021 15:00', '6/17/2021 16:00', 1.0, 'JH',
           'Maggy', 1146899, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/22/2021 0:00', '6/22/2021 14:00', '6/22/2021 19:00', 5.0, 'JH',
           'Jorge', 1272094, '97153'], dtype=object),
    array(['6/22/2021 0:00', '6/22/2021 16:00', '6/22/2021 17:00', 1.0, 'JH',
           'Maggy', 1146899, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))],
  [(array(['6/29/2021 0:00', '6/29/2021 14:00', '6/29/2021 19:00', 5.0, 'JH',
           'Jorge', 1272094, '97153'], dtype=object),
    array(['6/29/2021 0:00', '6/29/2021 16:00', '6/29/2021 17:00', 1.0, 'JH',
           'Maggy', 1146899, '97155'], dtype=object),
    datetime.timedelta(seconds=3600))]],

In [17]:
errors

[]

In [18]:
notifications = pd.DataFrame(np.stack(notifications, axis=0), columns=cols)
notifications

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/14/2021 0:00,6/14/2021 20:00,6/14/2021 21:00,1,SM,Maggy,1146899,Documentation
1,6/14/2021 0:00,6/14/2021 19:00,6/14/2021 20:00,1,OC,Arianne,1405509,Documentation
2,6/17/2021 0:00,6/17/2021 17:00,6/17/2021 18:00,1,EM,Aicha,1328150,Documentation
3,6/15/2021 0:00,6/15/2021 19:30,6/15/2021 20:30,1,EV,Celina,1601150,Documentation
4,6/17/2021 0:00,6/17/2021 21:00,6/17/2021 22:00,1,AP,Yunia,1281163,Documentation
...,...,...,...,...,...,...,...,...
62,6/30/2021 0:00,6/30/2021 14:30,6/30/2021 16:30,2,AB,Gabriella,Remote Individual Supervision,Documentation
63,6/21/2021 0:00,6/21/2021 19:00,6/21/2021 20:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
64,6/22/2021 0:00,6/22/2021 13:00,6/22/2021 14:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
65,6/23/2021 0:00,6/23/2021 15:00,6/23/2021 16:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
66,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1,JH,Rahimil,1593879,Remote Individual Supervision

In [19]:
import json
if len(errors) > 0:
    with open('overlapping_missing_errors.json', 'w') as f:
        f.write(json.dumps(providers_data_with_errors))
    with open('supervisors_data.json', 'w') as f:
        f.write(json.dumps(supervisors_data))
if len(notifications) > 0:
    with open('auto_fixed_errors.json', 'w') as f:
        notifications.to_csv('auto_fixed.csv')

In [20]:
from os import path

lab = list(cols)
lab.append('MeetingDuration')

for i in overlappings:
    ol = []
    for j in overlappings[i]:
        d,i_ol,time = j[0]
        i_ol = np.append(i_ol,time)
        ol.append(i_ol)
    
    ol = pd.DataFrame(np.stack(ol, axis=0), columns=lab)
    ol.to_csv(path.join('done',str(i)+'.csv'))
# if len(overlappings) > 0:
#     with open('overlapping.json', 'w') as f:
#         f.write(json.dumps(overlappings))

In [21]:
notifications

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/14/2021 0:00,6/14/2021 20:00,6/14/2021 21:00,1,SM,Maggy,1146899,Documentation
1,6/14/2021 0:00,6/14/2021 19:00,6/14/2021 20:00,1,OC,Arianne,1405509,Documentation
2,6/17/2021 0:00,6/17/2021 17:00,6/17/2021 18:00,1,EM,Aicha,1328150,Documentation
3,6/15/2021 0:00,6/15/2021 19:30,6/15/2021 20:30,1,EV,Celina,1601150,Documentation
4,6/17/2021 0:00,6/17/2021 21:00,6/17/2021 22:00,1,AP,Yunia,1281163,Documentation
...,...,...,...,...,...,...,...,...
62,6/30/2021 0:00,6/30/2021 14:30,6/30/2021 16:30,2,AB,Gabriella,Remote Individual Supervision,Documentation
63,6/21/2021 0:00,6/21/2021 19:00,6/21/2021 20:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
64,6/22/2021 0:00,6/22/2021 13:00,6/22/2021 14:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
65,6/23/2021 0:00,6/23/2021 15:00,6/23/2021 16:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
66,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1,JH,Rahimil,1593879,Remote Individual Supervision

In [22]:
for i in overlappings[1146899]:
    print(i)

[(array(['6/18/2021 0:00', '6/18/2021 8:30', '6/18/2021 14:30', 6.0, 'SM',
       'Maggy', 1146899, '97153'], dtype=object), array(['6/18/2021 0:00', '6/18/2021 9:00', '6/18/2021 11:00', 2.0, 'SM',
       'Yarelis', 1128037, '97155'], dtype=object), datetime.timedelta(seconds=7200))]
[(array(['6/25/2021 0:00', '6/25/2021 8:30', '6/25/2021 14:30', 6.0, 'SM',
       'Maggy', 1146899, '97153'], dtype=object), array(['6/25/2021 0:00', '6/25/2021 9:00', '6/25/2021 11:00', 2.0, 'SM',
       'Yarelis', 1128037, '97155'], dtype=object), datetime.timedelta(seconds=7200))]

In [25]:
for i in rbt53_depured:
    if i[-3] == 'Maggy':
        print(i)

['6/18/2021 0:00' '6/18/2021 8:30' '6/18/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/23/2021 0:00' '6/23/2021 8:30' '6/23/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/25/2021 0:00' '6/25/2021 8:30' '6/25/2021 14:30' 6.0 'SM' 'Maggy'
 1146899 '97153']
['6/30/2021 0:00' '6/30/2021 9:30' '6/30/2021 15:30' 6.0 'SM' 'Maggy'
 1146899 '97153']