In [100]:
import pandas as pd

In [101]:
providers_data = pd.read_csv('providers.csv', sep=';')

In [102]:
supervisors = providers_data[providers_data['Type'] == 'Supervisor']
risen_supervisors = providers_data[providers_data['Type'] == 'Risen Supervisor']
trainees = providers_data[providers_data['Status'] == 'Trainee']
RBTs = providers_data[providers_data['Status'] == 'RBT']

In [103]:
df = pd.read_csv('data.csv')

In [104]:
# TODO tambien deberías permitirme descartar los Client/Provider que no me interesen tener en cuenta para el análisis
labels = ['DateOfService', 'TimeWorkedFrom', 'TimeWorkedTo', 'TimeWorkedInHours', 'ClientFirstName', 'ProviderFirstName', 'ProcedureCode' ]

In [105]:
data = df.drop(df.columns.difference(labels), 1)
data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProcedureCode
0,6/1/2021 0:00,6/1/2021 7:55,6/1/2021 13:32,5.62,AB,Irvin,97153
1,6/1/2021 0:00,6/1/2021 12:00,6/1/2021 13:00,1.00,MI,Yarelis,97156
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.00,MI,Yarelis,97155
3,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.00,OV,Yunia,Documentation
4,6/1/2021 0:00,6/1/2021 8:00,6/1/2021 10:00,2.00,Patient,Gabriella,Trainings/Meetings/Cancelation
...,...,...,...,...,...,...,...
562,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1.00,JH,Rahimil,Documentation
563,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.00,JR,Rahimil,97155: Non- Billable
564,6/30/2021 0:00,6/30/2021 18:00,6/30/2021 20:00,2.00,JR,Rahimil,97156: Non-Billable
565,6/29/2021 0:00,6/29/2021 15:00,6/29/2021 16:00,1.00,BQ,Arianne,97156
566,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 20:00,4.00,JR,Griselda,97153

In [106]:
# TODO por si acaso, deberias dejarme escoger que codigos vamos a utilizar para hacer los reportes de los q aparezcan en el csv
valid = ['97153', '97155', '97153: Non-Billable', '97155: Non-Billable', 'Documentation', 'Remote Individual Supervision']
valid = [i.replace(' ','').lower() for i in valid]
valid

['97153',
 '97155',
 '97153:non-billable',
 '97155:non-billable',
 'documentation',
 'remoteindividualsupervision']

In [107]:
filter = [i.replace(' ', '').lower() in valid for i in data.ProcedureCode]
data['Filter1'] = filter
data = data[data.Filter1]
data = data.drop('Filter1', 1)
data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProcedureCode
0,6/1/2021 0:00,6/1/2021 7:55,6/1/2021 13:32,5.62,AB,Irvin,97153
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.00,MI,Yarelis,97155
3,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.00,OV,Yunia,Documentation
5,6/1/2021 0:00,6/1/2021 10:00,6/1/2021 12:00,2.00,JS,Gabriella,Documentation
6,6/1/2021 0:00,6/1/2021 14:30,6/1/2021 16:30,2.00,RS,Gabriella,Documentation
...,...,...,...,...,...,...,...
558,6/29/2021 0:00,6/29/2021 14:00,6/29/2021 15:00,1.00,BQ,Rahimil,97155: Non- Billable
560,6/29/2021 0:00,6/29/2021 16:00,6/29/2021 17:00,1.00,JH,Rahimil,97155: Non- Billable
562,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1.00,JH,Rahimil,Documentation
563,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.00,JR,Rahimil,97155: Non- Billable
566,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 20:00,4.00,JR,Griselda,97153

In [108]:
providers = data['ProviderFirstName']
providers = set(providers)

In [109]:
data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProcedureCode
0,6/1/2021 0:00,6/1/2021 7:55,6/1/2021 13:32,5.62,AB,Irvin,97153
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.00,MI,Yarelis,97155
3,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.00,OV,Yunia,Documentation
5,6/1/2021 0:00,6/1/2021 10:00,6/1/2021 12:00,2.00,JS,Gabriella,Documentation
6,6/1/2021 0:00,6/1/2021 14:30,6/1/2021 16:30,2.00,RS,Gabriella,Documentation
...,...,...,...,...,...,...,...
558,6/29/2021 0:00,6/29/2021 14:00,6/29/2021 15:00,1.00,BQ,Rahimil,97155: Non- Billable
560,6/29/2021 0:00,6/29/2021 16:00,6/29/2021 17:00,1.00,JH,Rahimil,97155: Non- Billable
562,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1.00,JH,Rahimil,Documentation
563,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.00,JR,Rahimil,97155: Non- Billable
566,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 20:00,4.00,JR,Griselda,97153

In [112]:
#depurar esto
supervisors_codes = ['97155', '97155:non-billeable', 'remoteindividualsupervision']
filter_supervisors =[i.replace(' ', '').lower() in supervisors_codes for i in data.ProcedureCode]
supervisors_data = data[filter_supervisors]
supervisors_data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProcedureCode
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.0,MI,Yarelis,97155
8,6/1/2021 0:00,6/1/2021 16:30,6/1/2021 18:30,2.0,OV,Yarelis,97155
9,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.0,OV,Yarelis,Remote Individual Supervision
10,6/1/2021 0:00,6/1/2021 19:30,6/1/2021 20:30,1.0,EV,Yarelis,Remote Individual Supervision
33,6/3/2021 0:00,6/3/2021 9:30,6/3/2021 11:30,2.0,AB,Rahimil,97155
...,...,...,...,...,...,...,...
549,6/30/2021 0:00,6/30/2021 13:15,6/30/2021 15:15,2.0,JS,Nilvia L,97155
551,6/30/2021 0:00,6/30/2021 20:00,6/30/2021 21:00,1.0,JS,Nilvia L,Remote Individual Supervision
553,6/30/2021 0:00,6/30/2021 20:00,6/30/2021 21:00,1.0,JS,Lauren,Remote Individual Supervision
554,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.0,JR,Addel,97155
557,6/29/2021 0:00,6/29/2021 14:00,6/29/2021 15:00,1.0,BQ,Arianne,97155

In [130]:

import numpy as np
from datetime import datetime

def calculate_overlapping(entry):
    overlapping = []
    temp = np.array(supervisors_data)
    for i in temp:
        start = datetime.strptime(i[1], '%m/%d/%Y %H:%M')
        end = datetime.strptime(i[2], '%m/%d/%Y %H:%M')
        entry_start = datetime.strptime(entry[1], '%m/%d/%Y %H:%M')
        entry_end = datetime.strptime(entry[2], '%m/%d/%Y %H:%M')

        if (entr_start > start and entry_start < end) or (entry_end > start and entry_end < end):
            overlapping.append(i)