In [245]:
import pandas as pd

In [246]:
providers_data = pd.read_csv('providers.csv', sep=',')

In [247]:
supervisors = providers_data[providers_data['Type'] == 'Supervisor']
risen_supervisors = providers_data[providers_data['Type'] == 'Risen Supervisor']
trainees = providers_data[providers_data['Status'] == 'Trainee']
RBTs = providers_data[providers_data['Status'] == 'RBT']

In [248]:
df = pd.read_csv('data.csv')

In [249]:
# TODO tambien deberías permitirme descartar los Client/Provider que no me interesen tener en cuenta para el análisis
labels = ['ProviderId', 'DateOfService', 'TimeWorkedFrom', 'TimeWorkedTo', 'TimeWorkedInHours', 'ClientFirstName', 'ProviderFirstName', 'ProcedureCode' ]

In [250]:
data = df.drop(df.columns.difference(labels), 1)

In [251]:
# TODO por si acaso, deberias dejarme escoger que codigos vamos a utilizar para hacer los reportes de los q aparezcan en el csv
valid = ['97153', '97155', '97153: Non-Billable', '97155: Non-Billable', 'Documentation', 'Remote Individual Supervision']
valid = [i.replace(' ','').lower() for i in valid]
valid

['97153',
 '97155',
 '97153:non-billable',
 '97155:non-billable',
 'documentation',
 'remoteindividualsupervision']

In [252]:
filter = [i.replace(' ', '').lower() in valid for i in data.ProcedureCode]
data['Filter1'] = filter
data = data[data.Filter1]
data = data.drop('Filter1', 1)
data

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/1/2021 0:00,6/1/2021 7:55,6/1/2021 13:32,5.62,AB,Irvin,1457822,97153
2,6/1/2021 0:00,6/1/2021 13:00,6/1/2021 15:00,2.00,MI,Yarelis,1128037,97155
3,6/1/2021 0:00,6/1/2021 21:00,6/1/2021 22:00,1.00,OV,Yunia,1281163,Documentation
5,6/1/2021 0:00,6/1/2021 10:00,6/1/2021 12:00,2.00,JS,Gabriella,1465912,Documentation
6,6/1/2021 0:00,6/1/2021 14:30,6/1/2021 16:30,2.00,RS,Gabriella,1465912,Documentation
...,...,...,...,...,...,...,...,...
558,6/29/2021 0:00,6/29/2021 14:00,6/29/2021 15:00,1.00,BQ,Rahimil,1593879,97155: Non- Billable
560,6/29/2021 0:00,6/29/2021 16:00,6/29/2021 17:00,1.00,JH,Rahimil,1593879,97155: Non- Billable
562,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1.00,JH,Rahimil,1593879,Documentation
563,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 18:00,2.00,JR,Rahimil,1593879,97155: Non- Billable
566,6/30/2021 0:00,6/30/2021 16:00,6/30/2021 20:00,4.00,JR,Griselda,1627262,97153

In [253]:
providers = data['ProviderId']
providers = set(providers)

In [254]:
#depurar esto
supervisors_codes = ['97155', '97155:non-billeable', 'remoteindividualsupervision']
filter_supervisors =[i.replace(' ', '').lower() in supervisors_codes for i in data.ProcedureCode]
supervisors_data = data[filter_supervisors]

In [255]:
import numpy as np
errors = []
notifications = []
depured_data = []
doc_depured = []
rbt53_depured = []
providersErrors = []

cols = supervisors_data.columns

providerId = list(cols).index('ProviderId')
providerName = list(cols).index('ProviderFirstName')
procedureCode = list(cols).index('ProcedureCode')
timeFrom = list(cols).index('TimeWorkedFrom')
timeTo = list(cols).index('TimeWorkedTo')
client = list(cols).index('ClientFirstName')

supervisors_data = np.array(supervisors_data)

for k in range(len(supervisors_data)):
    i = supervisors_data[k]
    if i[procedureCode].replace(' ', '').lower() == 'remoteindividualsupervision':
        if i[providerId] in list(trainees['ProviderId']):
            notifications.append(i)
            i[procedureCode] = 'Documentation'
            doc_depured.append(i)
            continue
        elif i[providerId] in list(RBTs['ProviderId']):
            notifications.append(i)
            i[procedureCode] = 'Documentation'
            rbt53_depured.append(i)
            continue
    if i[procedureCode].replace(' ', '').lower() == '97155':
        if i[providerId] in list(RBTs['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    if i[procedureCode].replace(' ', '').lower() == '97155:non-billeable':
        if i[providerId] in list(trainees['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
        elif i[providerId] in list(RBTs['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    depured_data.append(i)

In [256]:

import numpy as np
from datetime import datetime

def verify_valid_overlapping(entry, i):
    procedure = entry[procedureCode]
    if entry[providerId] == i[providerId]:
        return False
    if procedure.lower().replace(' ', '') in ['97153', '97153:non-billable'] and i[procedureCode] in ['97155', '97155:non-billable']:
        return True
    if procedure.lower().replace(' ', '') in ['documentation'] and i[procedureCode] in ['remoteindividualsupervision']:
        return True
    return False

def calculate_overlapping(entry):
    overlapping = []
    entry_start = datetime.strptime(entry[timeFrom], '%m/%d/%Y %H:%M')
    entry_end = datetime.strptime(entry[timeTo], '%m/%d/%Y %H:%M')
    procedure = entry[procedureCode]
    
    for i in depured_data:
        if  verify_valid_overlapping(entry,i):
            start = datetime.strptime(i[timeFrom], '%m/%d/%Y %H:%M')
            end = datetime.strptime(i[timeTo], '%m/%d/%Y %H:%M')
            if not i[client] == entry[client]:
                continue
            else:
#                 print(i,entry)
                pass
            if (entry_start >= start and entry_start <= end) or (entry_end >= start and entry_end <= end) or (start >= entry_start and end <= entry_end):
                time = min(entry_end,end)-max(entry_start, start)
                if entry[providerName] == 'Beatriz' and i[providerName] == 'Yarelis':
                    print(time, entry,i)
                overlapping.append((entry,i, time))
    return overlapping

In [257]:
code53 = np.array(data[[i.lower().replace(' ', '') == '97153' for i in data['ProcedureCode']]])
code_doc = np.array(data[[i.lower().replace(' ', '') == 'documentation' for i in data['ProcedureCode']]])

In [258]:

for i in code_doc:
    if i[procedureCode].replace(' ', '').lower() == 'documentation':
        
        if i[providerId] in list(supervisors['ProviderId']):
            notifications.append(i)
            i[providerId] = 'Remote Individual Supervision'
            depured_data.append(i)
            continue
        
        elif i[providerId] in list(risen_supervisors['ProviderId']):
            notifications.append(i)
            i[procedureCode] = 'Remote Individual Supervision'
            depured_data.append(i)
            continue
    
    doc_depured.append(i)

for i in code53:
    if i[procedureCode].replace(' ', '').lower() == 'documentation':
    
        if i[providerId] in list(supervisors['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    
        elif i[providerId] in list(risen_supervisors['ProviderId']):
            errors.append(i)
            providersErrors.append(i[providerId])
            continue
    
    rbt53_depured.append(i)
    
if len(doc_depured) > 0:
    doc_depured = np.stack(doc_depured, axis=0)
if len(rbt53_depured) > 0:
    rbt53_depured = np.stack(rbt53_depured, axis=0) 
if len(depured_data) > 0:    
    depured_data = np.stack(depured_data, axis=0)
if len(errors) > 0:
    errors = np.stack(errors, axis=0)

In [259]:
overlappings = {}
providers_data_with_errors = {}
dat = np.concatenate((doc_depured, rbt53_depured))
# print(dat)
for i in dat:
    
    new_ol = calculate_overlapping(i)
    
    if i[providerId] in providersErrors:
        if not i[providerId] in providers_data_with_errors:
            overlappings[i[providerId]] = []
            
        providers_data_with_errors[i[providerId]].append(new_ol) 
        continue
    
    if not i[providerId] in overlappings:
        overlappings[i[providerId]] = []
    
    if len(new_ol) != 0:
        overlappings[i[providerId]].append(new_ol) 

for i in rbt53_depured:
    new_ol = calculate_overlapping(i)
    
    if i[providerId] in providersErrors:
        if not i[providerId] in providers_data_with_errors:
            overlappings[i[providerId]] = []
            
        providers_data_with_errors[i[providerId]].append(new_ol) 
        continue
    
    if not i[providerId] in overlappings:
        overlappings[i[providerId]] = []
    
    if len(new_ol) != 0:
        overlappings[i[providerId]].append(new_ol) 
# overlappings

2:00:00 ['6/2/2021 0:00' '6/2/2021 16:00' '6/2/2021 20:00' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/2/2021 0:00' '6/2/2021 16:00' '6/2/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
2:00:00 ['6/3/2021 0:00' '6/3/2021 9:00' '6/3/2021 13:00' 4.0 'AP' 'Beatriz'
 1288098 '97153'] ['6/3/2021 0:00' '6/3/2021 9:00' '6/3/2021 11:00' 2.0 'AP' 'Yarelis'
 1128037 '97155']
1:30:00 ['6/9/2021 0:00' '6/9/2021 16:30' '6/9/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/9/2021 0:00' '6/9/2021 16:00' '6/9/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
1:30:00 ['6/16/2021 0:00' '6/16/2021 16:30' '6/16/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/16/2021 0:00' '6/16/2021 16:00' '6/16/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
2:00:00 ['6/24/2021 0:00' '6/24/2021 16:30' '6/24/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/24/2021 0:00' '6/24/2021 17:00' '6/24/2021 19:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
1:30:00 ['6/30/2021 0:00' '6/30/2021 16:30' '6/30/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/30/2021 0:00' '6/30/2021 16:00' '6/30/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
2:00:00 ['6/2/2021 0:00' '6/2/2021 16:00' '6/2/2021 20:00' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/2/2021 0:00' '6/2/2021 16:00' '6/2/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
2:00:00 ['6/3/2021 0:00' '6/3/2021 9:00' '6/3/2021 13:00' 4.0 'AP' 'Beatriz'
 1288098 '97153'] ['6/3/2021 0:00' '6/3/2021 9:00' '6/3/2021 11:00' 2.0 'AP' 'Yarelis'
 1128037 '97155']
1:30:00 ['6/9/2021 0:00' '6/9/2021 16:30' '6/9/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/9/2021 0:00' '6/9/2021 16:00' '6/9/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
1:30:00 ['6/16/2021 0:00' '6/16/2021 16:30' '6/16/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/16/2021 0:00' '6/16/2021 16:00' '6/16/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
2:00:00 ['6/24/2021 0:00' '6/24/2021 16:30' '6/24/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/24/2021 0:00' '6/24/2021 17:00' '6/24/2021 19:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']
1:30:00 ['6/30/2021 0:00' '6/30/2021 16:30' '6/30/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153'] ['6/30/2021 0:00' '6/30/2021 16:00' '6/30/2021 18:00' 2.0 'BR' 'Yarelis'
 1128037 '97155']

In [260]:
errors

[]

In [261]:
notifications = pd.DataFrame(np.stack(notifications, axis=0), columns=cols)
notifications

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/14/2021 0:00,6/14/2021 20:00,6/14/2021 21:00,1,SM,Maggy,1146899,Documentation
1,6/14/2021 0:00,6/14/2021 19:00,6/14/2021 20:00,1,OC,Arianne,1405509,Documentation
2,6/17/2021 0:00,6/17/2021 17:00,6/17/2021 18:00,1,EM,Aicha,1328150,Documentation
3,6/15/2021 0:00,6/15/2021 19:30,6/15/2021 20:30,1,EV,Celina,1601150,Documentation
4,6/17/2021 0:00,6/17/2021 21:00,6/17/2021 22:00,1,AP,Yunia,1281163,Documentation
...,...,...,...,...,...,...,...,...
62,6/30/2021 0:00,6/30/2021 14:30,6/30/2021 16:30,2,AB,Gabriella,Remote Individual Supervision,Documentation
63,6/21/2021 0:00,6/21/2021 19:00,6/21/2021 20:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
64,6/22/2021 0:00,6/22/2021 13:00,6/22/2021 14:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
65,6/23/2021 0:00,6/23/2021 15:00,6/23/2021 16:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
66,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1,JH,Rahimil,1593879,Remote Individual Supervision

In [262]:
import json
if len(errors) > 0:
    with open('overlapping_missing_errors.json', 'w') as f:
        f.write(json.dumps(providers_data_with_errors))
    with open('supervisors_data.json', 'w') as f:
        f.write(json.dumps(supervisors_data))
if len(notifications) > 0:
    with open('auto_fixed_errors.json', 'w') as f:
        notifications.to_csv('auto_fixed.csv')

In [263]:
from os import path

lab = list(cols)
lab.append('MeetingDuration')

for i in overlappings:
    ol = []
    for j in overlappings[i]:
        d,i_ol,time = j[0]
        i_ol = np.append(i_ol,time)
        ol.append(i_ol)
    
    ol = pd.DataFrame(np.stack(ol, axis=0), columns=lab)
    ol.to_csv(path.join('done',str(i)+'.csv'))
# if len(overlappings) > 0:
#     with open('overlapping.json', 'w') as f:
#         f.write(json.dumps(overlappings))

In [264]:
notifications

,DateOfService,TimeWorkedFrom,TimeWorkedTo,TimeWorkedInHours,ClientFirstName,ProviderFirstName,ProviderId,ProcedureCode
0,6/14/2021 0:00,6/14/2021 20:00,6/14/2021 21:00,1,SM,Maggy,1146899,Documentation
1,6/14/2021 0:00,6/14/2021 19:00,6/14/2021 20:00,1,OC,Arianne,1405509,Documentation
2,6/17/2021 0:00,6/17/2021 17:00,6/17/2021 18:00,1,EM,Aicha,1328150,Documentation
3,6/15/2021 0:00,6/15/2021 19:30,6/15/2021 20:30,1,EV,Celina,1601150,Documentation
4,6/17/2021 0:00,6/17/2021 21:00,6/17/2021 22:00,1,AP,Yunia,1281163,Documentation
...,...,...,...,...,...,...,...,...
62,6/30/2021 0:00,6/30/2021 14:30,6/30/2021 16:30,2,AB,Gabriella,Remote Individual Supervision,Documentation
63,6/21/2021 0:00,6/21/2021 19:00,6/21/2021 20:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
64,6/22/2021 0:00,6/22/2021 13:00,6/22/2021 14:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
65,6/23/2021 0:00,6/23/2021 15:00,6/23/2021 16:00,1,Patient,Nilvia L,1191214,Remote Individual Supervision
66,6/29/2021 0:00,6/29/2021 18:00,6/29/2021 19:00,1,JH,Rahimil,1593879,Remote Individual Supervision

In [265]:
for i in overlappings[1146899]:
    print(i)

[(array(['6/18/2021 0:00', '6/18/2021 8:30', '6/18/2021 14:30', 6.0, 'SM',
       'Maggy', 1146899, '97153'], dtype=object), array(['6/18/2021 0:00', '6/18/2021 9:00', '6/18/2021 11:00', 2.0, 'SM',
       'Yarelis', 1128037, '97155'], dtype=object), datetime.timedelta(seconds=7200))]
[(array(['6/25/2021 0:00', '6/25/2021 8:30', '6/25/2021 14:30', 6.0, 'SM',
       'Maggy', 1146899, '97153'], dtype=object), array(['6/25/2021 0:00', '6/25/2021 9:00', '6/25/2021 11:00', 2.0, 'SM',
       'Yarelis', 1128037, '97155'], dtype=object), datetime.timedelta(seconds=7200))]
[(array(['6/18/2021 0:00', '6/18/2021 8:30', '6/18/2021 14:30', 6.0, 'SM',
       'Maggy', 1146899, '97153'], dtype=object), array(['6/18/2021 0:00', '6/18/2021 9:00', '6/18/2021 11:00', 2.0, 'SM',
       'Yarelis', 1128037, '97155'], dtype=object), datetime.timedelta(seconds=7200))]
[(array(['6/25/2021 0:00', '6/25/2021 8:30', '6/25/2021 14:30', 6.0, 'SM',
       'Maggy', 1146899, '97153'], dtype=object), array(['6/25/2021 0:00', '6/25/2021 9:00', '6/25/2021 11:00', 2.0, 'SM',
       'Yarelis', 1128037, '97155'], dtype=object), datetime.timedelta(seconds=7200))]

In [266]:
for i in rbt53_depured:
    if i[-3] == 'Beatriz':
        print(i)

['6/2/2021 0:00' '6/2/2021 16:00' '6/2/2021 20:00' 4.0 'BR' 'Beatriz'
 1288098 '97153']
['6/3/2021 0:00' '6/3/2021 9:00' '6/3/2021 13:00' 4.0 'AP' 'Beatriz'
 1288098 '97153']
['6/4/2021 0:00' '6/4/2021 10:00' '6/4/2021 17:00' 7.0 'ASS' 'Beatriz'
 1288098 '97153']
['6/7/2021 0:00' '6/7/2021 10:00' '6/7/2021 16:00' 6.0 'ASS' 'Beatriz'
 1288098 '97153']
['6/9/2021 0:00' '6/9/2021 16:30' '6/9/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153']
['6/16/2021 0:00' '6/16/2021 16:30' '6/16/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153']
['6/18/2021 0:00' '6/18/2021 10:00' '6/18/2021 16:00' 6.0 'ASS' 'Beatriz'
 1288098 '97153']
['6/24/2021 0:00' '6/24/2021 16:30' '6/24/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153']
['6/21/2021 0:00' '6/21/2021 10:00' '6/21/2021 16:00' 6.0 'ASS' 'Beatriz'
 1288098 '97153']
['6/25/2021 0:00' '6/25/2021 10:00' '6/25/2021 16:00' 6.0 'ASS' 'Beatriz'
 1288098 '97153']
['6/28/2021 0:00' '6/28/2021 10:00' '6/28/2021 16:00' 6.0 'ASS' 'Beatriz'
 1288098 '97153']
['6/30/2021 0:00' '6/30/2021 16:30' '6/30/2021 20:30' 4.0 'BR' 'Beatriz'
 1288098 '97153']